.subscribe-button{
    background-color: rgb(157, 38, 38);
    color: white;
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 2px;
    cursor: pointer;
    margin-right: 8px;
    transition: opacity 0.15s;
}

.subscribe-button:hover{
    opacity: 0.8;
}

.subscribe-button:active{
    opacity: 0.5;
}

.join-button{
    background-color: white;
    border-color: rgb(40, 40, 209);
    border-style: solid;
    border-width: 1px;
    color: rgb(40, 40, 209);
    height: 36px;
    width: 75px;
    border-radius: 2px;
    cursor: pointer;
    transition: background-color 1s,color 1s;
}

.join-button:hover{
    background-color: rgb(81, 81, 249);
    color: white;
}

.join-button:active{
   opacity: 0.7;
}

.tweet-button{
    background-color: rgb(62, 62, 227);
    color: white;
    border: none;
    height: 36px;
    width: 70px;
    border-radius: 18px;
    font-weight: bold;
    font-size: 13px;
    cursor: pointer;
    margin-left: 8px;
}

.tweet-button:hover{
    box-shadow: 8px 5px 8px rgba(0, 0, 0, 0.15);
    transition: box-shadow 0.15s;
}