.side-bar{
   position: fixed;
   top: 55px;
   bottom: 0;
   left: 0;
   width: 180px;
   background-color: white;
   overflow-y: auto; /* scroll if needed */
}

.sidebar-link{
   height: 66px;
   display: flex;
   align-items: center;
   justify-content: flex-start;
   gap: 10px;
   cursor: pointer;
}

.sidebar-link:hover{
   background-color: lightgray;

}

.sidebar-link img{
   height: 24px;
   margin-bottom: 4px;
   border-radius: 15px;
}

.sidebar-link div{
   font-family: roboto,arial;
   font-size: 13px;
   margin-left: 5px;
   
}

.footer{ 
  font-size: 12px;
  color: #606060;
  padding: 10px;
}